.full-body {
    background-color: white;
}

#title-name {
    border: 2px solid purple;
    padding: 10px;
    background-color: blueviolet;
    color: aliceblue;
}



#author-img {
    width: 2px;
    height: 2px;
    border: 2px solid black !important;
}